body {
    background-image:linear-gradient(rgba(0,0,0,0,5),rgba(0,0,0,0,5)),url(background-image);
    background-size: cover;
    background-position: center;
}

.signup-form{
    max-width: 350px;
    border: 1px soli #ced4da;
    margin: 10% auto 0;
}
